{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Gestion des projets par utilisateurs {% endblock %}
       
{% block contenu %} <h1> Gestion des taches selon projet choisi par utilisateurs </h1> 

{% if form.valide is defined %} 
    {% if form.valide == true %}
       <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1>
       {% else %}  
       <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
    {% endif %}         
{% endif %}         
      <div class="panel-body">
  <form  class="form-signin" action="index.php?page=listetachepdf" method="post" enctype="application/x-www-form-urlencoded">
      <h3><b>Veuillez Choisir un projet !</b></h3>
   <select name="nom" id="nom" class="form-control">
         <option value="0">Veuillez choisir un Projet</option>
         {% for r in form.liste2 %}
        {% if r.nom==nom %}
         <option value="{{ r.nom }}" selected>{{ r.nom }}</option>
         {% else %}
          <option value="{{ r.nom }}">{{ r.nom }}</option>   
         {% endif %}    
     {% endfor %}      
    </select>
      <button class="btn btn-lg btn-primary btn-block" type="submit" name="btChoisir">Choisir</button>
          <h3><b>Veuillez Choisir une tache  !</b></h3>
   <select name="libelle" id="libelle" class="form-control">
       <option value="1">Veuillez choisir une taches </option>       
        {% for c in liste%}
            {% if c.libelle==form.libelle %}
          <option value="{{ c.libelle }}" selected>{{ c.libelle }}</option>
         {% else %}
          <option value="{{ c.libelle }}">{{ c.libelle }}</option>   
         {% endif %} 
        {% endfor%}    
    </select>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="btChoisir2" name="btChoisir2">Valider</button>
  </form>
</div>    
<div class="panel">
  <!-- Default panel contents -->
  <div class="panel-heading background-violet">Liste du projets Choisi par  l'utilisateur</div>

  <!-- Table -->
  <div class="table-responsive">
  <table class="table table-hover table-striped">
      <tr><th>Nom du Projet</th><th>Libelle de la tache</th><th>Heure Prevue</th><th>Date Début</th><th>Date Fin</th><th>Developpeurs</th></tr>
   {% for u in liste %}
          <tr><td>{{u.NOM_PROJET}}</td><td>{{u.NOM_TACHE}}</td><td>{{u.heureprevue}}</td><td>{{u.datesignature}}</td><td>{{u.delaiproduction}}</td><td>{{u.developpeurs}}</td></tr> 
   {% endfor %}    
  </table>
  </div>
</div>
   
  <a href="index.php?page=tachepdf&nom={{nom}}&libelle={{libelle}}" target="_blank">Télécharger le pdf montrant le projet choisi par l'utilisateur
<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a> 
       

{% endblock %} 

